<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <nav class = "nav-header">
        <h4>THE COLLECTIVE WORKOUTS</h4>
        <a href="/" class ="links">home</a>
        <a href="/workout/new" class="links">Share Your Workout!</a>
        
        <form action="/sessions" method="post" class="links">
            <input type="hidden" name="_method" value="delete">
            <button>logout</button>
        </form>

        <form action="/search" method="post" class="search-bar">
            Search for a user <input type="text" name="username">
            <button>search</button>
        </form>

        <a href="/userpage" class="links">Your page</a>
    </nav>

    <%-body %>

    
    
</body>
</html>