

<main class="login-card">
    <h4>collective workout</h4>

    <h2>login</h2>
    <form action="/login" method = "post">
        <label for="">username</label>
        <input type="text" name="username" id="">

        <label for="">password</label>
        <input type="password" name="password">

        <button>login</button>
    </form>
    <a href="/signup">New here? Create an account!</a>
</main>


