<h1 class="title">Share your workout!</h1>

<main class="share-ui">
    <form action="/workout" method="post">
        <label for="">title</label>
        <input type="text" name="title">

        <label for="">description</label>
        <input type="text" name="description">

        <label for="">sets</label>
        <input type="text" name="sets">
    
        <button>create</button>
    </form>
</main>
