<h1>share a new workout!</h1>

<form action="/workout" method="post">
    <label for="">title</label>
    <input type="text" name="title">

    <label for="">description</label>
    <input type="text" name="description">

    <label for="">sets</label>
    <input type="text" name="sets">
    
    <button>create</button>
</form>