<h1 class="title">singup here!</h1>


<main class="signup-ui">

    <form action="/signup" method="post">
        <label for="username">username</label>
        <input type="text" name="username">

        <label for="bio">Tell us something about you!</label>
        <input type="text" name="bio">

        <label for="password">password</label>
        <input type="text" name="password">

        <label for="password_confirmation">Confirm password</label>
        <input type="text" name="password_confirmation">
    
        <button>singup</button>
    </form>
</main>
