*{
  box-sizing: border-box;  
}

body{
    font-family: Helvetica Neue;
    background-color: #dbf0fe;
    margin: 0px;
}

.nav-header{
    width: 100%;
    display: grid;
    background-color: #fffcf8;
    box-shadow: 0px 0px 2px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    text-align: center;
    
}

.workout-card{
    background-color: #fffcf8;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.workout-main{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    margin-left: 3%;
    margin-right: 3%;
    
}

.login-card{
    background-color: #fffcf8;
    margin: 10%;
    
    padding: 5px;
    padding-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px
}

.workout-details{
    background-color: #fffcf8;
    margin: 10%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.delete-edit{
    display: flex;
    justify-content: space-between;
}

.title{
    text-align: center;
}

.edit-ui{
    background-color: #fffcf8;
    margin: 10%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.edit-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.edit-form input {
    max-width: fit-content;
}

.user-main{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

.user-ui{
    background-color: #fffcf8;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}

.share-ui {
    background-color: #fffcf8;
    margin: 10%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.signup-ui{
    background-color: #fffcf8;
    margin: 10%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.search-grid{
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    margin-left: 3%;
    margin-right: 3%;
}

.search-ui{
    background-color: #fffcf8;
    margin: 10%;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.colours{
    background-color: #fffcf8;
    background-color: #dbf0fe;
    background-color: #DEB887;
}